@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold px-4 py-3 transition-colors duration-300 rounded-sm;
}

.long-btn {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
}

.long-btn:hover,
.btn:hover {
  @apply bg-orange-600;
}

.text-blue-500{
  color: #6674f8;
}


.long-btn-purple {
  @apply bg-purple-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
}

.btn-purple {
  @apply bg-purple-500 uppercase text-white cursor-pointer font-bold transition-colors duration-300 rounded-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}

.btn-orange {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold transition-colors duration-300 rounded-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}

.large-btn-purple {
  @apply bg-purple-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
  display: flex;
  justify-content: center;
}

.large-btn-orange {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
  display: flex;
  justify-content: center;
}

.long-btn-purple:hover,
.btn-purple:hover,
.btn-purple:hover {
  @apply bg-purple-600;
}

.link {
  @apply text-blue-600 cursor-pointer;
}

.link:hover {
  @apply text-blue-800;
}

.standard-input {
  @apply bg-transparent border border-gray-400 rounded py-2 px-4 w-full outline-none;
}

@screen sm {
  .standard-input {
    @apply bg-white;
  }
}

.hero-image {
  height: calc(100vh - 86px);
  min-height: 600px;
}

.about-image {
  height: 750px;
}

.soft-gray {
  color: #cccccc;
}

.gray-back {
  background-color: #efefee;
}

.open-answer {
  max-height: 300px;
}

@screen md {
  .closed-answer {
    max-height: 0;
  }
}

.open-ps {
}

.closed-ps {
  max-height: 0;
}

b {
  @apply font-bold;
}

.h-img-height {
  height: 14rem;
}
@media (min-width: 1024px) {
  .h-img-height {
    height: 20rem;
  }
}

.brown-color {
  color: #8b4513;
}

/* .fancy-list {
  list-style-image: url("/checkmark.png");
} */

.fancy-list li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -50px;
  background: url(/checkmark.png) center center / contain no-repeat;
  width: 29px;
  height: 29px;
}

.learn-more {
  @apply text-xl font-bold border border-white rounded uppercase py-2 px-6 duration-300 transition-colors;
}

.learn-more:hover {
  @apply bg-orange-500 border-orange-500;
}

.space{
  width:100%;
  height: 1rem;
  background-color: #C9C7C7;
}

.learn-more-mob {
  @apply bg-orange-500 border-white py-2 px-12 rounded-lg;
  height: 2.7rem;
  display: inline-block;
}

.lmm-p {
  @apply bg-purple-500 border-white py-2 px-12 rounded-lg;
  height: 2.7rem;
  display: inline-block;
}

.orange-shadow {
  box-shadow: 0 0 3px 1px #ff6600;
}

.purple-shadow {
  box-shadow: 0 0 3px 1px #8036f7;
}

.white-shadow {
  box-shadow: 0 0 3px 1px white;
}

@media (min-width: 1024px) {
  .learn-more {
    @apply px-12;
  }
}

.hover-lines {
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  box-sizing: border-box;
  border: 2px solid #f60;
  transition: all 0.5s ease-in-out;
  transform: scale(1.001);
}

.box_packages:hover .hover-lines {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.hover_up {
  transition: all 0.5s ease-in-out;
}

.box_packages:hover .hover_up {
  transform: translateY(-15px);
}

.pink-color {
  color: #f705fa;
}

.pink-button:hover {
  border-color: #f705fa;
  background-color: #f705fa;
}

.quote-position {
  line-height: 0;
  position: relative;
  top: 16px;
}

.quote-position-two {
  top: 21px;
}

.h-2px {
  height: 2px;
  margin-top: 5px;
}

.text-menu {
  font-size: 0.5em;
  font-weight: 700;
}

.leading-home {
  line-height: 1.1;
}

.cookie-back {
  background-color: #353535;
}

.mobile {
  display: none;
}

.banner {
  margin-bottom: 0.7rem;
  max-height: 216px;
}

.banner img{
  width: 100vw;
}

.bg-image img{
  width: 100vw;
}

.pad-width{
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.subtitle {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  margin-top: 2rem;
  line-height: 1.2;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin-top: 2rem;
  justify-items: center;
}

.line {
  border-bottom: 1px solid #242c39;
  margin-top: 1.5rem;
}

.image-accessory {
  flex: 0.75;
}

@media screen and (max-width: 765px){
  .title-container {
    padding-top: 0;
  }
  .title {
    margin-top: 1.8rem;
  }
  .default{
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile h1 {
    text-align: left;
    line-height: 1.2;
    font-size: 25px;
  }
  .mobile h2 {
    text-align: left;
    font-size: 18px;
  }

  .jedi{
    text-align: left;
    font-weight: normal;
    color: #fff;
  }

  .bear {
    text-align: left;
    font-weight: normal;
    color: #8036f7;
    color: #fff;

  }

  .moose {
    text-align: left;
    font-weight: normal;

    color: #fff;
  }

  .second {
    text-align: left;
  }

  .jedi .second {
    color: #f26a22;
  }

  .bear .second {
    color: #8036f7;
  }

  .moose .second {
    color: #f26a22;
  }

  .subtext{
    text-align: left;
  }
  .gallery-container {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gallery-container img {
    width: 140px;
    height: auto;
  }
  .image-accessory {
    flex: 1;
  }

}

.heading {
  font-weight: 700;
}

.orange-link {
  color: #FF5400;
}

.feature-text {
  width: 144px;
}

.feature-right {
  margin-left: auto;
}

.feature-text h2 {
  font-size: 22px;
  line-height: 1.15;
}

@media screen and (max-width: 768px) {
  .heading {
    font-weight: 500 !important;
    font-size: 36px!important;
    line-height: 1.06 !important;
  }
  .accessory .gray-back {
  }
  .font-500 {
    font-weight: 500;
    font-size: 36px !important;
  }
  .font-500-small{
    font-weight: 500;
    font-size: 28px !important;
  }

}