@tailwind base;
@tailwind components;
@tailwind utilities;

.image-text-color {
  color: #5e5e5e;
}

.comparison-col>* {
  width: 33.333%;
}

.vid-overlay-position {
  top: 7%;
}

@media (min-width: 800px) {
  .mobile-carousel {
    display: none;
  }

  .desktop-carousel {
    display: block;
  }
}

@media (max-width: 800px) {
  .mobile-carousel {
    display: block;
  }

  .desktop-carousel {
    display: none;
  }
}

@media (min-width: 640px) {
  .mobile-carousel {
    background-color: #f5f3f3;
  }

  .title-container {
    background-color: #f5f3f3;
  }
}

@media (min-width: 640px) {
  .press-release-padding {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-heading {
    font-size: 38px;
  }

  .main-image-upper-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
  }

  .main-image-upper-text-1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
  }

  .text-margin {
    margin-top: -230px;
  }

  .image-text-press-1 {
    line-height: 18px;
  }
}

@media (min-width: 1280px) {
  .breadcrums-margin {
    padding-left: 28px !important;
  }

  .accessory-padding {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .acc-margin {
    margin-left: 8.5rem;
  }

  .acc-line-height {
    line-height: 34px;
  }

  .connect-padding {
    padding-left: 1.5rem;
    padding-right: 7rem;
  }

  .terms-padding {
    padding-right: 83px;
  }

  .privacy-padding {
    padding-right: 78px;
  }

  .term-margin-heading {
    margin-left: 310px;
  }

  .term-margin-subHeading {
    margin-left: 145px;
  }

  .privacy-margin-heading {
    margin-left: 382px;
  }

  .privacy-margin-subHeading {
    margin-left: 215px;
  }
}

.orange-input::-webkit-input-placeholder {
  color: #ff5400;
}

.orange-input::-moz-placeholder {
  color: #ff5400;
}

.orange-input::placeholder {
  color: #ff5400;
  opacity: 1;
}

.home-grid-width {
  width: 13.75rem;
}

.press-main-image {
  width: 100%;
  height: 325px;
}

.grey-text-spacing {
  word-spacing: 4px;
}

@media (max-width: 450px) {
  .hide {
    display: none;
  }

  .press-text {
    line-height: 21px;
  }

  .press-contact {
    font-size: 26px;
    font-weight: 500;
  }

  .contact-det {
    line-height: 22px;
  }

  .phone-color {
    color: #3182ce;
  }

  .news-image-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .margin-top-mobile {
    margin-top: -310px;
  }

  .terms-heading {
    font-size: 36px !important;
  }

  .privacy-heading {
    font-size: 36px !important;
  }

  .sitemap-sub {
    font-size: 28px !important;
  }

  .input-div {
    text-align: center !important;
  }

  .home-padding {
    padding-bottom: 20px !important;
  }

  .text-font {
    font-size: 30px !important;
  }

  .include-margin {
    margin-left: 70px;
  }

  .outdoor-subfont {
    font-size: 23px;
    line-height: 27px;
  }
}

@media (max-width: 1023px) {
  .comparison-btn {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  .comparison-detail-border {
    border: 1px solid #ff5400;
  }

  .comparison-detail-border-p {
    border: 1px solid #b121ce;
  }

  .included-btn {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.indent {
  text-indent: -12px;
}

.news-archive {
  width: 130px !important;
}

.news-archive1 {
  width: 150px !important;
}

.news-archive2 {
  width: 140px !important;
}

.news-archive3 {
  width: 102px !important;
}

.news-archive4 {
  width: 120px !important;
}

.news-archive-heading {
  font-size: 36px;
}

.press-release-lineHeight {
  line-height: 1.15;
}

.borderline-break {
  border: 0.25px solid grey;
  opacity: 0.5;
}

.press-line-height {
  line-height: 1.15;
}

.frame-width {
  max-width: 540px;
}

.btn {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold px-4 py-3 transition-colors duration-300 rounded-sm;
}

.long-btn {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
}

.long-btn:hover,
.btn:hover {
  @apply bg-orange-600;
}

.text-blue-500 {
  color: #6674f8;
}

.long-btn-purple {
  @apply bg-purple-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
}

.btn-purple {
  @apply bg-purple-500 uppercase text-white cursor-pointer font-bold transition-colors duration-300 rounded-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}

.btn-orange {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold transition-colors duration-300 rounded-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}

.large-btn-purple {
  @apply bg-purple-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
  display: flex;
  justify-content: center;
}

.large-btn-orange {
  @apply bg-orange-500 uppercase text-white cursor-pointer font-bold px-12 py-3 transition-colors duration-300 rounded-sm;
  display: flex;
  justify-content: center;
}

.long-btn-purple:hover,
.btn-purple:hover,
.btn-purple:hover {
  @apply bg-purple-600;
}

.link {
  @apply text-blue-600 cursor-pointer;
}

.link:hover {
  @apply text-blue-800;
}

.standard-input {
  @apply bg-transparent border border-gray-400 rounded py-2 px-4 w-full outline-none;
}

@screen sm {
  .standard-input {
    @apply bg-white;
  }
}

.hero-image {
  height: calc(100vh - 86px);
  min-height: 600px;
}

.about-image {
  height: 750px;
}

.soft-gray {
  color: #cccccc;
}

.gray-back {
  background-color: #efefee;
}

.black-back {
  background-color: #000000;
}

.open-answer {
  max-height: 300px;
}

@screen md {
  .closed-answer {
    max-height: 0;
  }
}

.open-ps {}

.closed-ps {
  max-height: 0;
}

b {
  @apply font-bold;
}

.h-img-height {
  height: 14rem;
}

@media (min-width: 1024px) {
  .h-img-height {
    height: 20rem;
  }

  .vid-overlay-position {
    top: 25%;
  }
}

.brown-color {
  color: #8b4513;
}

/* .fancy-list {
  list-style-image: url("/checkmark.png");
} */

.fancy-list li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -50px;
  background: url(/checkmark.png) center center / contain no-repeat;
  width: 29px;
  height: 29px;
}

.learn-more {
  @apply text-xl font-bold border border-white rounded uppercase py-2 px-6 duration-300 transition-colors;
}

.learn-more:hover {
  @apply bg-orange-500 border-orange-500;
}

.space {
  width: 100%;
  height: 1rem;
  background-color: #c9c7c7;
}

.learn-more-mob {
  @apply bg-orange-500 border-white py-2 px-12 rounded-lg;
  height: 2.7rem;
  display: inline-block;
}

.lmm-p {
  @apply bg-purple-500 border-white py-2 px-12 rounded-lg;
  height: 2.7rem;
  display: inline-block;
}

.orange-shadow {
  box-shadow: 0 0 3px 1px #ff6600;
}

.purple-shadow {
  box-shadow: 0 0 3px 1px #8036f7;
}

.white-shadow {
  box-shadow: 0 0 3px 1px white;
}

@media (min-width: 1024px) {
  .learn-more {
    @apply px-12;
  }
}

.hover-lines {
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  box-sizing: border-box;
  border: 2px solid #f60;
  transition: all 0.5s ease-in-out;
  transform: scale(1.001);
}

.box_packages:hover .hover-lines {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.hover_up {
  transition: all 0.5s ease-in-out;
}

.box_packages:hover .hover_up {
  transform: translateY(-15px);
}

.pink-color {
  color: #f705fa;
}

.pink-button:hover {
  border-color: #f705fa;
  background-color: #f705fa;
}

.quote-position {
  line-height: 0;
  position: relative;
  top: 16px;
}

.quote-position-two {
  top: 21px;
}

.h-2px {
  height: 2px;
  margin-top: 5px;
}

.text-menu {
  font-size: 0.5em;
  font-weight: 700;
}

.leading-home {
  line-height: 1.1;
}

.cookie-back {
  background-color: #353535;
}

.mobile {
  display: none;
}

.banner {
  margin-bottom: 0.7rem;
  max-height: 216px;
}

.banner img {
  width: 100vw;
}

.bg-image img {
  width: 100vw;
}

.pad-width {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.subtitle {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  margin-top: 2rem;
  line-height: 1.2;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin-top: 2rem;
  justify-items: center;
}

.line {
  border-bottom: 1px solid #242c39;
  margin-top: 1.5rem;
}

.image-accessory {
  flex: 0.75;
}

@media screen and (max-width: 765px) {
  .title-container {
    padding-top: 0;
  }

  .title {
    margin-top: 1.8rem;
  }

  .default {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile h1 {
    text-align: left;
    line-height: 1.2;
    font-size: 25px;
  }

  .mobile h2 {
    text-align: left;
    font-size: 18px;
  }

  .jedi {
    text-align: left;
    font-weight: normal;
    color: #fff;
  }

  .bear {
    text-align: left;
    font-weight: normal;
    color: #8036f7;
    color: #fff;
  }

  .moose {
    text-align: left;
    font-weight: normal;

    color: #fff;
  }

  .second {
    text-align: left;
  }

  .jedi .second {
    color: #f26a22;
  }

  .bear .second {
    color: #8036f7;
  }

  .moose .second {
    color: #f26a22;
  }

  .subtext {
    text-align: left;
  }

  .gallery-container {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .gallery-container img {
    width: 140px;
    height: auto;
  }

  .image-accessory {
    flex: 1;
  }
}

.heading {
  font-weight: 700;
}

.orange-link {
  color: #ff5400;
}

.feature-text {
  width: 166px;
}

.feature-right {
  margin-left: auto;
}

.feature-text h2 {
  font-size: 22px;
  line-height: 1.15;
}

@media screen and (max-width: 768px) {
  .heading {
    font-weight: 500 !important;
    font-size: 36px !important;
    line-height: 1.06 !important;
  }

  .accessory .gray-back {}

  .font-500 {
    font-weight: 500;
    font-size: 36px !important;
  }

  .font-500-small {
    font-weight: 500;
    font-size: 28px !important;
  }
}

.mobile-subnav .accordion-header {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}

.mobile-subnav .accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 1);
}

.mobile-subnav .accordion-content-open {
  max-height: 500px;
}

.border-grey-subnav {
  border-color: rgba(255, 255, 255, 0.24);
}

.border-grey-theater {
  border-color: #bdbabb;
}

.mobile-subnav .arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
  transition: transform 0.3s ease-in-out;
}

.mobile-subnav .arrow.open {
  transform: rotate(180deg);
}

.desktop-subnav {
  background-color: rgba(0, 0, 0, 0.8);
}

.mobile-subnav a:hover,
.desktop-subnav a:hover {
  color: #ff5400;
}

.mobile-subnav a.button-orng,
.desktop-subnav a.button-orng {
  color: #ffffff;
}

.button-orng {
  background-color: #ff5400;
  border-radius: 7px
}

.text-orng {
  color: #ff5400;
}

.play-button-wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-button-png {
  width: 10vw;
  max-width: 80px;
}

.bg-gray-990 {
  background-color: #0e0e0e;
}

.bonus-banner-image {
  max-width: 60px;
  position: absolute;
  margin-left: -13px;
  margin-top: -8px;
}

@media (min-width: 768px) {
  .bonus-banner-image {
    max-width: 141px;
    position: absolute;
    margin-left: -29px;
    margin-top: -15px;
  }
}

.orng-overlay:hover {
  color: #ff5400 !important;
}

.orng-overlay:hover .grid-icon {
  fill: #ff5400;
}

.orng-overlay:hover .border-grey-theater {
  border-color: #ff5400 !important;
}

.max-w-2400 {
  max-width: 2400px !important;
}

.bg-black-size-128 {
  background: none;
}

@media (min-width: 1024px) {
  .bg-black-size-128 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.7959384437368697) 0%, rgba(0, 0, 0, 0.8015406846332283) 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 100%);
  }
}

@media (min-width: 1280px) {
  .bg-black-size-128 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.7959384437368697) 0%, rgba(0, 0, 0, 0.8015406846332283) 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
  }
}

.white-svg path {
  fill: #ffffff !important
}

.orgn-rollover-svg path {
  fill: #ffffff !important
}

.orgn-rollover-svg:hover path {
  fill: #ff5400 !important
}

.rollover-svg-item:hover .border-grey-theater {
  border-color: #ff5400 !important;
}

.rollover-svg-item:hover .rollover-color-title {
  color: #ff5400 !important;
}

.rollover-svg-item:hover .color-svg-blue {
  stroke: #2ea8df !important;
}

.rollover-svg-item:hover .color-svg-blue-fill {
  fill: #2ea8df !important;
}

.rollover-svg-item:hover .color-svg-yellow {
  stroke: #fac55e !important;
}

.rollover-svg-item:hover .color-svg-yellow-fill {
  fill: #fac55e !important;
}

.rollover-svg-item:hover .color-svg-green {
  stroke: #63bc46 !important;
}

.rollover-svg-item:hover .color-svg-green-fill {
  fill: #63bc46 !important;
}

.rollover-svg-item:hover .color-svg-red {
  stroke: #e90505 !important;
}

.rollover-svg-item:hover .color-svg-red-fill {
  fill: #e90505 !important;
}

.rollover-svg-item:hover .color-svg-orange-fill {
  fill: #ff5400 !important;
}

.rollover-svg-item:hover .color-svg-brown-fill {
  fill: #3c280d !important;
}

.rollover-svg-item:hover .color-svg-lightgreen {
  stroke: #5cfb7d !important;
}

.rollover-svg-item:hover .color-svg-purple {
  stroke: #6d4ee2 !important;
}

.rollover-svg-item:hover .color-svg-darkred-fill {
  fill: #a41d23 !important;
}

.rollover-svg-item:hover .color-svg-lightbrown-fill {
  fill: #b27f4c !important;
}

.rollover-svg-item:hover .color-svg-purple-fill {
  fill: #6d4ee2 !important;
}

.bg-opacity-gray {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: contain;
}

.text-grey-bdbbba {
  color: #bdbbba;
}

.text-green-1f8f13 {
  color: #1f8f13;
}

.text-red-b20000 {
  color: #b20000
}

.w-80 {
  width: 20rem;
}

.text-xxs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.quote-todd {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.quote-todd:before {
  content: open-quote;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  padding-right: 5px;
}

.quote-todd:after {
  content: close-quote;
  font-weight: bold;
  font-size: 64px;
  line-height: 42px;
  padding-left: 5px;
}


input.tgg-title {
  appearance: unset;
  all: unset;
}

.faq-accordion-title label {
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}

.faq-accordion-title span {
  margin-left: auto;
  transition: transform 0.35s ease-in-out;
  opacity: 0.7;
}

.faq-accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-in-out;
}

.faq-accordion .tgg-title:checked~.faq-accordion-content {
  will-change: max-height;
  max-height: 1000px;
}

.faq-accordion-header {
  position: relative;
  transition: color 0.2s linear;
  cursor: pointer;
  margin-left: 3.8rem;
}

.panel__label:focus {
  outline: none;
}

.faq-accordion-header:hover {
  color: #ff5400;
}

.faq-accordion-header:hover:after,
.faq-accordion-header:hover:before {
  background-color: #ff5400;
}


.faq-accordion-header:after,
.faq-accordion-header:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  width: 22px;
  height: 2px;
  margin-top: -2px;
  background-color: #ffffff;
  margin-left: -3rem;
}

.faq-accordion .faq-accordion-header:after {
  transform: rotate(90deg);
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header:before {
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #ff5400;
}

.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header:after {
  transform: rotate(0deg);
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #ff5400;
}

.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header {
  color: #ff5400;
}

.faq-accordion-content {
  margin-left: 3.8rem;
}

.orng-rollover-overlay:hover {
  border-color: #ff5400;
}

.large-justify-start,
.large-justify-end {
  justify-content: center;
}

@media (min-width: 1024px) {
  .large-justify-start {
    justify-content: flex-start !important;
  }

  .large-justify-end {
    justify-content: flex-end !important;
  }
}

@media (min-width:992px) {
  .text-7xl {
    font-size: 4.5rem;
  }
}

.hero-overlay {
  display: none;
}

@media (min-width:1280px) {
  .hero-overlay {
    display: block;
    height: 500px;
    width: 1220px;
    margin-left: -450px;
    margin-top: -30px;
    overflow: hidden;
    opacity: 0.4;
  }
}

.hero-line-height {
  line-height: 2rem;
}

.video-adjusted {
  padding-top: 44% !important;
}
