.let-connnect {
  text-transform: uppercase;
  font-weight: bold;
}
.call-email {
  font-weight: 500;
}
.mobile-view {
  display: none;
}

.in-the-news {
  /* mt-12*/
  margin-top: 20px;
}
.press-release {
  margin-top: 15px;
  font-weight: 300;
}
.in-the-news-inner {
  text-transform: uppercase;
  font-weight: bold;
}
.container-insider {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.font-changer {
  text-transform: uppercase;
  font-weight: bold;
}

.first-outdoor {
  text-transform: uppercase !important;
}
.attaching-gaming {
  text-transform: uppercase !important;
  font-weight: bold;
}
.watch-netflix {
  margin-bottom: 1.5rem;
}
.connect-dvd {
  margin-bottom: 2rem;
}
.about-heading {
  text-transform: uppercase !important;
}
.signature-black {
  display: none !important;
}
.signature-white {
  display: block !important;
}

@media screen and (max-width: 768px) {
  /* Connect Page */
  .about-image {
    /* background-image: url('../../static/toddsq.jpg') !important; */
    background-size: cover;
  }
  .let-connnect {
    text-transform: none;
    font-size: 36px !important;
    font-weight: 500;
  }
  .call-email {
    font-size: 30px !important;
  }
  .padding-toAdd {
    padding-top: 6px !important;
  }
  .what-interested {
    padding-top: 0px !important;
  }
  .take-moment {
    padding-top: 28px;
  }
  /* End Here */
  /* In the News Start here */
  .change {
    padding-top: 28px !important;
  }
  .mobile-view {
    display: block;
    padding-top: 28px !important;
  }
  .press-release {
    /* padding-top: 28px !important; */
    font-weight: 500;
    font-size: 30px;
  }
  .in-the-news-inner {
    padding-top: 28px !important;
    text-transform: none;
    font-size: 36px;
    font-weight: bold;
  }
  .container-insider {
    padding: 0px !important;
  }
  .about-wireless {
    margin-bottom: 60px !important;
  }

  /* End Here */

  .full-bleed {
    padding: 0px !important;
  }
  /* .breadcrums-mobile{
        margin-left: 30px;
    } */
  .font-changer {
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
  }
  .mobile h2 {
    font-size: 20px !important;
  }
  .mobile .product-title {
    font-size: 22px !important;
    font-weight: 500;
  }
  .first-outdoor {
    text-transform: none !important;
    font-size: 20px !important;
  }
  .call-today {
    margin-bottom: 60px !important;
  }
  .attaching-gaming {
    font-size: 20px !important;
    text-transform: none !important;
  }
  .additional-uses {
    font-size: 20px;
  }
  .system-setup {
    margin-bottom: 60px;
  }
  .additional-dropdown {
    margin-bottom: 60px !important;
  }
  .images-banner {
    padding: 0px;
  }
  .about {
    font-size: 36px !important;
    font-weight: 500;
    color: black;
    text-transform: none;
  }
  .about-heading {
    font-size: 36px !important;
    font-weight: 500;
    text-transform: none !important;
  }
  .top-heading {
    margin-top: 25px !important;
    margin-bottom: 11px;
    /* margin-bottom: 28px !important; */
  }
  .when-build {
    margin-top: 0.75rem !important;
  }
  .quote-background {
    background-color: #ff5400 !important;
  }
  .signature-white {
    display: none !important;
  }
  .signature-black {
    display: block !important;
  }
  .heading-outdoor {
    font-weight: 500 !important;
    font-size: 30px !important;
    text-transform: none !important;
    margin-top: 22px;
    margin-bottom: 9px;
  }
  .solution-orange {
    font-weight: 500 !important;
    font-size: 30px !important;
    color: #ff6600 !important;
  }
  .mobile-tree {
    background-image: url("../images/outdoor-movie-theater-frame.jpg") !important;
    background-size: cover;
    padding: 0px !important;
    height: 400px !important;
  }
  .standMobile {
    background-image: url("../images/outdoor-movie-projector-stand.jpg") !important;
    background-size: cover;
    padding: 0px !important;
    height: 400px !important;
  }
  .no-padding {
    padding: 0px !important;
  }
  .thankyou {
    margin-bottom: 60px !important;
  }
  .picture-gallery {
    padding: 0px !important;
  }
  .news-subtitle {
    font-size: 1.75rem;
    line-height: 1.2;
  }
  .full-bleed-mobile {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    height: 275px;
  }
  .news-article {
    margin-top: 25px;
  }
  .question {
    font-size: 18px;
    max-width: 91%
    
  }
  .questionMaxWidth {
    max-width: 85%
  }
  .feature-home-image {
    margin-top: calc(1rem - 3px);
  }
}
@media screen and (max-width: 375px) {
  .font-change {
    font-size: 14px !important;
  }
}
